---
import { Image } from "astro:assets";
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/global.css";
import space from "../assets/about.png";
const data = {
  title: "Sobre",
  description: "Sobre o blog",
};
---

<style>
  .about-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }

  .about-content {
    width: 80ch;
    color: var(--color-text-gray);
    padding: 1rem;
  }

  .about-content h2 {
    margin: 0;
  }

  .about-content-img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-content-img img {
    mix-blend-mode: darken;
  }

  .about-content-text p {
    line-height: 1.5rem;
    text-align: justify;
  }

  @media screen and (max-width: 768px) {
    .about-content {
      width: 100%;
    }

    .about-content-img img {
      width: 100%;
    }
  }
</style>

<BaseLayout data={data}>
  <div class="about-section">
    <section>
      <div class="about-content">
        <h2>Sobre</h2>
        <div class="about-content-text">
          <p>
            Bem-vindo ao Rumor Aleatório! Neste blog você encontrará ideias que
            encontro em livros, reflexões e conversas a respeito de ficção e
            RPG. Novo ou não no hobby, te convido a trocar um rumor, um meu por
            um seu. O que ouviu por ai?
          </p>
          <p>
            Me chamo Vinícius, tenho 23 anos e já explorei Arrakis, Lordran,
            Tarbean, Beleriand e Terramar. Cada um com suas peculiaridades,
            dignas de serem investigadas. Se você é um devorador de mundos e
            gosta de RPG, encontrará aqui os rumores desses lugares.
          </p>
          <p>
            Esse é um blog de RPG old-school, e apresento um estilo que busca
            emular as mesmas sensações de mistério e conquista de por o pé em
            uma galaxia tão, tão distante.
          </p>
        </div>
        <div class="about-content-img">
          <Image src={space} alt="outer space" />
        </div>
      </div>
    </section>
  </div>
</BaseLayout>
