---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
const pageTitle = "Sobre";
---

<BaseLayout pagetitle={pageTitle}>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem ut inventore fugit eaque sint corporis, nostrum amet, saepe asperiores consequuntur voluptate minima accusamus ratione quo ad quibusdam qui mollitia minus?</p>
</BaseLayout>