---
import ArchiveFeed from '../components/ArchiveFeed.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
const allPosts = Object.values(import.meta.glob("./posts/*.md", { eager: true }));
const pageTitle = "Arquivo";
---
<style>
  .archive-section {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .archive-content {
    padding: 1rem;
    color: var(--color-text-gray);
  }

  .archive-content h2 {
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    .archive-content {
      width: 100%;
    }
  }
</style>

<BaseLayout pagetitle={pageTitle}>
  <div class="archive-section">
    <section>
      <div class="archive-content">
        <h2>Arquivo</h2>
        <ArchiveFeed />
      </div>
    </section>
  </div>
</BaseLayout>