---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css'
const pageTitle = "Rumor Aleatório";
---
<BaseLayout>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat temporibus voluptatem quis adipisci optio quidem, error voluptatum dolore nihil reiciendis mollitia quisquam! Cumque consequatur doloremque beatae dolorem iusto hic velit.</p>
</BaseLayout>