---

---

<style>
  p {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    margin-bottom: 30px;
    color: var(--color-text-gray);
  }
</style>

<p>Copyright © 2025 Vinicius Souza</p>
