---
import Divider from "./Divider.astro"
import Navigation from "./Navigation.astro"
---
<style>
  .main-header h1 {
    margin: 0;
    font-size: 3rem;
    font-family: 'JBLACK', serif;
    color: red;
    padding-top: 10px;
    text-align: center;
    font-weight: normal;
  }

  .main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
    gap: 10px;
  }

  @media screen and (min-width: 768px){
    .main-header {
      justify-content: left;
    }

    .main-header header {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
</style>

<div class="main-header">
  <header>
    <h1>Rumor Aleatório</h1>
    <Navigation />
  </header>
</div>