---
import Divider from "./Divider.astro";
import PostHeader from "./PostHeader.astro";
const { frontmatter } = Astro.props
---
<style>
  .post-article {
    display: flex;
    justify-content: center;
    color: var(--color-text-gray);
  }

  .post-content {
    width: 80ch;
    line-height: 2rem;
    font-size: 1.1rem;
    text-align: justify;
  }

  @media screen and (max-width: 768px){
    .post-content {
      width: 100%;
    }
  }
</style>

<div class="post-article">
  <article class="roboto-slab-400">
    <PostHeader frontmatter={frontmatter}/>
    <div class="post-content">
      <slot />
    </div>
  </article>
</div>
