---
import AuthorCard from "./AuthorCard.astro"
const {frontmatter} = Astro.props
---
<style>
  .post-header {
    line-height: 1rem;
    margin-top: 2rem;
  }

  .post-header h1 {
    text-transform: capitalize;
  }

  .post-header h2 {
    color: var(--color-text-gray);
    filter: brightness(1.1);
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: normal;
  }
</style>

<div class="post-header">
  <h1>{frontmatter.title}</h1>
  <h2>{frontmatter.description}</h2>
  <AuthorCard frontmatter={frontmatter}/>
</div>
